body {
  font: 16px Arial, Sans;
}

#tic-tac-toe {
  display: flex;
  justify-content: center;
}

.heading {
  text-align: center;
  margin-top: 0;
}

.players-form {
  background: #f2f2f2;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.player-name-wrapper {
  position: relative;
  border: 1px solid #ccc;
  display: flex;
  border-radius: 5px;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.player-name-wrapper .icon-wrapper {
  background-color: #f2f2f2;
  text-align: center;
  width: 30px;
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #e7e7e7;
}

.players-form input {
  border: 0px solid #ccc;
  padding: 6px 12px;
  border-radius: 0 4px 4px 0;
  width: 100%;
}

.players-form input:focus {
  border: 0px solid #ccc;
  outline: 0;
  background-color: #e9f7ff;
}

.players-form input:read-only {
  cursor: not-allowed;
}

.player-name-wrapper.error-input {
  border: 1px solid #d35400;
}

.players-form input:focus .player-name-wrapper {
  border: 1px solid #0044ff;
}

.players-form .display-board-button {
  background: #3498db;
  color: #fff;
  border: 0;
  padding: 6px 20px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.players-form .display-board-button:hover {
  background: #2980b9;
}

.icon-wrapper {
  background-color: aliceblue;
  padding: 3px;
  color: #0044ff;
}

.x-o-board-wrapper {
  display: flex;
  justify-content: center;
}

.board {
  width: 300px;
  margin: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.board .item {
  height: 50px;
  width: 50px;
  border: 1px solid #ccc;
  float: left;

  background-color: #e7e7e7;
  color: black;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  font-size: 45px;
  text-align: center;
}

.winner-announcement {
  font-size: 40px;
  color: green;
  text-align: center;
  margin-top: 45px;
  text-transform: capitalize;
}
